body {
  margin: 0%;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f1f1f1;
}

.logo a {
  text-decoration: none;
  color: black;
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  margin: 0;
  padding: 0;
  list-style: none;
}

.links a {
  text-decoration: none;
  color: black;
}

